:root   {
  --debug-outline: 0px;
  --colourA: rgba(255, 255, 255, 1.0);
  --colourB: rgb(18, 18, 18);
  --colourC: rgb(255, 255, 255);
  --colourD: rgb(130, 130, 130);
  --colourE: rgb(58, 58, 58);
  --colourF: rgb(88, 88, 88);
  --colourG: rgb(80, 140, 80);
  --colourH: rgb(184, 164, 64);
  --colourI: rgb(0, 0, 0);
  --colourJ: rgb(24, 124, 124);
}

body, html {
  margin: 0;
  padding: 0;
  background-color: var(--colourB);
}

* {
  font-family: Tahoma, sans-serif;
  font-size: 10px;
  font-weight: 700;
  box-sizing: border-box;
  color: var(--colourC);
}

/* ! ----- Hide Scrollbar ----- ! */
#page {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}
#page::-webkit-scrollbar {
  display: none;
}
/* ! ----- Hide Scrollbar ----- ! */

.flex-h {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-v {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#page {
  height: 100vh;
  width: 100vw;
  box-shadow: inset 0 0 0 var(--debug-outline) rgb(255, 0, 0);
}

#bar {
  padding: 16px;
  height: 10vh;
  justify-content: left;
  box-shadow: inset 0 -1px 0 0px var(--colourE);
}

#mainframe {
  height: 100vh;
  padding-top: 4vh;
  padding-bottom: 1vh;
  box-shadow: inset 0 0 0 var(--debug-outline) rgb(0, 0, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#grid-container {
  margin-top: 4px;
  margin-bottom: 4px;
  box-shadow: inset 0 0 0 var(--debug-outline) rgb(255, 255, 0);
}

.grid-row {
  margin: 1px;
  box-shadow: inset 0 0 0 var(--debug-outline) rgb(255, 0, 255);
}

.grid-square {
  font-size: 20px;
  height: 52px;
  width: 52px;
  margin: 2px;
  user-select: none;
}

.grid-square[data-state="correct"] {
  background-color: var(--colourG);
}

.grid-square[data-state="present"] {
  background-color: var(--colourH);
}

.grid-square[data-state="absent"] {
  background-color: var(--colourE);
}

.grid-square[data-state="active"] {
  box-shadow: inset 0 0 0 2px var(--colourF);
}

.grid-square[data-state="default"] {
  box-shadow: inset 0 0 0 2px var(--colourE);
}

#keyboard-container {
  box-shadow: inset 0 0 0 var(--debug-outline) rgb(0, 255, 255);
}

.keyboard-row {
  margin: 1px;
  box-shadow: inset 0 0 0 var(--debug-outline) rgb(255, 128, 0);
}

.keyboard-button {
  height: 58px;
  width: 42px;
  margin: 3px;
  font-size: 20px;
  user-select: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background: rgb(129, 131, 132);
  box-shadow: inset 0 0 0 var(--debug-outline) var(--colourE);
}

.keyboard-button[data-state="correct"] {
  background-color: var(--colourG);
}

.keyboard-button[data-state="present"] {
  background-color: var(--colourH);
}

.keyboard-button[data-state="absent"] {
  background-color: var(--colourE);
}

.keyboard-button[data-state="default"] {
  background-color: var(--colourD);
}

.keyboard-button[data-state="enter"] {
  width: calc(42px * 1.5 + 3px);
  font-size: 14px;
  background-color: var(--colourD);
}

.keyboard-button[data-state="backspace"] {
  width: calc(42px * 1.5 + 3px);
  background-color: var(--colourD);
}

.keyboard-button[data-state="hinted"] {
  background-color: var(--colourJ);
}

.icon {
  width: 24px;
  height: 24px;
  fill: var(--colourC);
}

#hamburger-button {
  user-select: none;
  background: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

#hint-button {
  user-select: none;
  background: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

.bar-button {
  user-select: none;
  background: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

#toaster {
  width: 240px;
  height: 60px;
  padding: 16px;  
  color: var(--colourI);
  background-color: var(--colourA);
  border-radius: 8px;
  font-size: 14px;
  position: fixed;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -0%);
}

@media only screen and (max-width: 600px) {

  /* .grid-square {
    font-size: 16px;
    height: 42px;
    width: 42px;
    margin: 2px;
    user-select: none;
  } */

  .keyboard-button {  height: 58px;
    width: 32px;
    margin: 3px;
    font-size: 16px;
    user-select: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background: rgb(129, 131, 132);
    box-shadow: inset 0 0 0 var(--debug-outline) var(--colourE);
  }

  #page {
    height: 90vh;
  }

}
